@import "../../../assets/styles/varibles.style";

.text-area {
  margin: calc(25px + 1vh) 0;

  label {
    margin-bottom: 15px;
  }

  textarea {
    resize: none;

    min-width: 350px;
    width: 50%;
    height: 225px;
    padding: 10px;

    border: 1px solid $color-gray;
    border-radius: 5px;

    background-color: $color-gray-dark;

    &:focus {
      outline: 1px solid $color-white;
    }
  }
}
