@import "../../../assets/styles/mixins.style";
@import "../../../assets/styles/animations.style";

.back-btn {
  display: block;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;

  background: white;
  width: max-content;

  padding: 0.25em;
  margin: 1em 0;
  margin-right: calc((100% - 1920px) / 2);

  border-radius: 50%;

  transform: scale(0%);
  animation: scaleZeroToMax 0.5s ease-in-out forwards;

  @include bp-big {
    margin-right: 7.5%;
  }

  @include bp-tablet {
    margin: 1.5em 0;
    margin-right: calc(1em + 2.5%);
  }
}
