.more {
  &__about {
    margin: 50px 0 75px;

    //text-align: justify;

    h1 {
      margin: 0.5em 0;
    }

    h2,
    p {
      margin: 0.25em 0;
    }
  }

  .helper-spc {
    margin-bottom: 0.75em;
  }

  .helper-xtr {
    margin-top: 2.5rem;
  }
}
