@import "../../assets/styles/varibles.style";
@import "../../assets/styles/mixins.style";

.img-block {
  width: 100%;
  margin: 50px 25px;

  text-align: center;

  & > img {
    cursor: pointer;
    object-fit: cover;

    width: 100%;
    margin-bottom: 25px;
  }

  h1 {
    text-align: center;
    line-height: 1.5;
  }

  @include bp-small {
    max-width: 33%;
    min-width: 350px;
  }

  @include bp-mobile {
    max-width: 100%;
    min-width: 250px;
    margin: 50px 0px;
  }
}
