@import "../../assets/styles/varibles.style";
@import "../../assets/styles/mixins.style";

.header {
  padding: calc(50px + 10vh) 0;

  &__hey {
    margin-bottom: -0.5em;
  }
  &__more {
    margin-top: -0.25em;
  }
}
