@import "../../assets/styles/varibles.style";
@import "../../assets/styles/mixins.style";

.contact-form {
  padding: calc(50px + 5vh) 0;

  &__line {
    display: block;
    width: 100%;
    height: 5px;

    margin: calc(10px + 1vh) 0;

    background-color: $color-gray-dark;

    div > h1 {
      margin: 100px 0;
    }
  }

  & > form button {
    margin-top: 25px;
  }

  form {
    width: 50%;

    @include bp-small {
      width: 75%;
    }

    @include bp-tablet {
      width: 100%;
    }
  }
}
