// --------------------------------------------------------------- //
// --------------------------- COLORS ---------------------------- //
// --------------------------------------------------------------- //

$color-black: #151515;
$color-gray: #909090;
$color-gray-dark: #252525;
$color-white: #fafafa;

$color-success: #00d659;
$color-danger: #da0053;

// --------------------------------------------------------------- //
// ---------------------------- FONT ----------------------------- //
// --------------------------------------------------------------- //

$font-main: "Roboto", sans-serif;

// --------------------------------------------------------------- //
// ------------------------- SCREEN SIZE ------------------------- //
// --------------------------------------------------------------- //

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
